<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetWebApi.Core" version="4.0.20504.0" />
  <package id="AspNetWebApi.SelfHost" version="4.0.20126.16343" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20504.0" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20504.0" />
  <package id="Microsoft.Net.Http" version="2.0.20504.0" />
  <package id="Newtonsoft.Json" version="4.5.4" />
</packages>