<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetWebApi" version="4.0.20126.16343" />
  <package id="AspNetWebApi.Core" version="4.0.20126.16343" />
  <package id="Autofac" version="2.5.2.830" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="protobuf-net" version="2.0.0.480" />
  <package id="System.Net.Http" version="2.0.20126.16343" />
  <package id="System.Net.Http.Formatting" version="4.0.20126.16343" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" />
  <package id="Unity" version="2.1.505.0" />
</packages>