<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetWebApi.Core" version="4.0.20126.16343" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="RhinoMocks" version="3.6" />
  <package id="Should" version="1.1.12.0" />
  <package id="System.Net.Http" version="2.0.20126.16343" />
  <package id="System.Net.Http.Formatting" version="4.0.20126.16343" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" />
</packages>
