type project
authors 
    WebApiContrib Contributors
projectUrl
    http://github.com/WebApiContrib/WebAPIContrib
licenseUrl
    http://github.com/WebApiContrib/WebAPIContrib/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright © WebApiContrib Contributors 2012-2016
tags
    AspNetWebApi WebApi WebApiContrib extensions
summary
    Community Contributions for ASP.NET Web API
description
    Community Contributions for ASP.NET Web API
