<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetRazor.Core" version="2.0.20505.0" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20505.0" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20505.0" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" />
  <package id="Newtonsoft.Json" version="4.5.6" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="NUnit.Runners" version="2.6.0.12051" />
  <package id="RazorEngine" version="3.0.8" />
  <package id="Should" version="1.1.12.0" />
</packages>