<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetWebApi.Core" version="4.0.20126.16343" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="RavenDB-Client" version="1.0.888" />
  <package id="System.Json" version="4.0.20126.16343" />
  <package id="System.Net.Http" version="2.0.20126.16343" />
  <package id="System.Net.Http.Formatting" version="4.0.20126.16343" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" />
</packages>